 <div class="user-details">
  <h1>About me</h1>
  <p>
  I have found my passion for coding and Artificial Intelligence during my undergraduate study in biomedical engineering. So I got into a Master's of Science in Artificial Intelligence at Amirkabir University of Technology(Tehran Polytechnic). I have studied many AI and ML approaches since then and have coded many projects using them. In this blog, I will demonstrate some of them.
  If interested you can see my full Curriculum Vitae in this <a target="_blank" href="https://drive.google.com/file/d/1TaMr36Rs1dFly0SlxyRS_p2aCBK4bHSZ/view?usp=sharing">Link</a>.
  </p>
  <p> 
  I have code in many languages. The first coding language I learned is C++, and I have used it in various projects. I have mastered python for data science projects. I also have been working as an android developer using Java. In my recent projects, I have combined my passion for AI in android software development. I have made several AI-powered android apps.
  </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i><img style="max-height: 1em;" alt="Python" src="/assets/img/python-icon.png" /></i>
      <i><img style="max-height: 1em;" alt="Java" src="/assets/img/java-icon.png" /></i>
      <i><img style="max-height: 1em;" alt="C++" src="/assets/img/c++-icon.png" /></i>
      <p>I found my passion for coding in highschool and been coding since. I excel at Python, Java and C++. </p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i><img style="max-height: 1em;" alt="Tensorflow" src="/assets/img/tensorflow-icon.png" /></i> 
      <i><img style="max-height: 1em;" alt="OpenCV" src="/assets/img/opencv-icon.png" /></i>
      <i><img style="max-height: 1em;" alt="Android" src="/assets/img/android-icon.png" /></i>
      <i><img style="max-height: 1em;" alt="Github" src="/assets/img/github-icon.png" /></i>
      <p>I have been utilizing many tools like Tensorflow, Tensorflow Lite, OpenCV, Android studio and Github in my projects.</p>
    </div>
  </div>
</div>
